---
Language: Cpp
BasedOnStyle: LLVM
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
PenaltyReturnTypeOnItsOwnLine: 1000
BinPackArguments: false
BinPackParameters: false
AlignConsecutiveMacros: true
---
Language:        JavaScript
BasedOnStyle:  LLVM
...

