tmp/*
html/
public_www/
Dockerfile
libdump
docs/_site
lib/bearssl/

/src/

.gitignore
.DS_Store
.gitmodules
.vscode

callgrind*
docs/assets/styles/main.css.map
tests/xxhash.h
tests/xxhash.c
tests/words.txt
obj.obj
a.exe