doctype html
html
    head
        meta charset="utf-8"
        meta http-equiv="X-UA-Compatible" content="IE=edge"
        meta content="width=device-width, initial-scale=1, maximum-scale=2.0, user-scalable=yes, minimal-ui=yes" name="viewport"
        title== self['title'] || "facil.io - a light web application framework in C, with support for HTTP, WebSockets and Pub/Sub out of the box."
        meta name="description" content=(self['title'] || SCHEMA_ABOUT)
        link href='https://fonts.googleapis.com/css?family=Montserrat|Quicksand|Karla' rel='stylesheet' type='text/css'
        / script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"

        / CSS
        link href='/assets/styles/main.css' rel='stylesheet' type='text/css'

        / script src="/assets/javascripts/websocket.js"


        / Schema.org data
        script type="application/ld+json" == SCHEMA_ORG
        / icons
        / link rel="mask-icon" href="/assets/facil-io-logo.svg" color="#ffffff"
        link rel="icon" type="image/svg" href="/assets/logo/facil-io-logo.svg" sizes="350x350"
        link rel="icon" type="image/png" href="/assets/logo/facil-io-logo.png" sizes="350x350"
        link rel="shortcut icon" type="image/svg" href="/assets/logo/facil-io-logo.svg" sizes="350x350"
        link rel="shortcut icon" type="image/png" href="/assets/logo/facil-io-logo.png" sizes="350x350"
        link rel="apple-touch-icon" type="image/svg" href="/assets/logo/facil-io-logo.svg" sizes="350x350"
        link rel="apple-touch-icon" type="image/png" href="/assets/logo/facil-io-logo.png" sizes="350x350"
        link rel="fluid-icon" type="image/svg" href="/assets/logo/facil-io-logo.svg" sizes="350x350"
        link rel="fluid-icon" type="image/png" href="/assets/logo/facil-io-logo.png" sizes="350x350"
        link rel="manifest" href="/manifest.json"
        meta name="apple-mobile-web-app-title" content="facil.io"
        meta name="application-name" content="facil.io - the C Web Application Framework"
        meta name="msapplication-TileColor" content="#b91d47"
        meta name="msapplication-TileImage" content="/mstile-144x144.png"
        meta name="theme-color" content="#ffffff"
        link href="/assets/logo/facil-io.svg" rel="preload" as="image"
        link href="/assets/logo/facil-io-side.svg" rel="preload" as="image"
        link href="/assets/logo/facil-io-side-light.svg" rel="preload" as="image"
        link href="/assets/logo/facil-io-light.svg" rel="preload" as="image"
    body
        a#logo href='/'
        input#show_nav type='checkbox' class='burger left'
        svg xmlns='http://www.w3.org/2000/svg' onclick="document.getElementById('show_nav').checked = !document.getElementById('show_nav').checked"
            line class='line1' x1='0' y1='10%' x2='100%' y2='10%'
            line class='line2' x1='0' y1='50%' x2='100%' y2='50%'
            line class='line3' x1='0' y1='50%' x2='100%' y2='50%'
            line class='line4' x1='0' y1='90%' x2='100%' y2='90%'
        nav#top_nav onclick="document.getElementById('show_nav').checked = !document.getElementById('show_nav').checked"
            ul
                li
                    a href='/0.8.x/index' Latest Docs
                li
                    a href='https://github.com/boazsegev/facil.io' target='_blank' Source Code
                li
                    a#theme href='#' onclick="change_themes()" Night Theme

        - if !self['sidebar']
           #md_container == yield
        - else
            input#show_sidebar type='checkbox' class='burger'
            svg xmlns='http://www.w3.org/2000/svg' onclick="document.getElementById('show_sidebar').checked = !document.getElementById('show_sidebar').checked"
                line class='line1' x1='0' y1='10%' x2='100%' y2='10%'
                line class='line2' x1='0' y1='50%' x2='100%' y2='50%'
                line class='line3' x1='0' y1='50%' x2='100%' y2='50%'
                line class='line4' x1='0' y1='90%' x2='100%' y2='90%'
            nav#side_bar onclick="document.getElementById('show_sidebar').checked = !document.getElementById('show_sidebar').checked" == self['sidebar']
            #md_container
                == yield
            a#sign href='/'
        - if @flash && @flash[:notice]
            #notice
                a.notice_close onclick='hide_notice()' X
                div#notice_text
                    pre= @flash[:notice]
        - else
            #notice.hidden
                a.notice_close onclick='hide_notice()' X
                div#notice_text
        javascript:
            function change_themes(e) {
                var obj = document.getElementById("theme");
                if(obj.text[0] == 'D') {
                    localStorage.setItem("theme", "light");
                } else {
                    localStorage.setItem("theme", "dark");
                }
                obj = document.body;
                obj.className = localStorage.getItem("theme");
                set_theme_link();
                if(e) e.preventDefault();
            };
            function sidebar_name() { return window.location.pathname.slice(0, window.location.pathname.lastIndexOf("/")); }
            function on_sidebar_link(e) {
                sessionStorage.setItem("sidebar.expect", sidebar_name());
                sessionStorage.setItem("sidebar.pos", document.getElementById("side_bar").scrollTop);
            }
            function load_sidebar_pos() {
                var e = document.getElementById("side_bar");
                if(!e) {
                    console.warn("No sidebar detected");
                    return;
                }
                var expect = sidebar_name();
                if(sessionStorage.getItem("sidebar.expect") == expect) {
                    e.scrollTo(0, parseInt(sessionStorage.getItem("sidebar.pos")));
                } else {
                    sessionStorage.setItem("sidebar.expect", false);
                    sessionStorage.setItem("sidebar.pos", 0);
                }
                if(e) {
                    // add link callbacks
                    var links = document.links;
                    var count = links.length;
                    for (var i = 0; i < count; i++) {
                        var href = links[i].href;
                        if(href.startsWith(document.location.origin)) {
                            href = href.slice(document.location.origin.length);
                        }
                        if(href.startsWith(expect)) {
                            /* add link event */
                            links[i].addEventListener("click", on_sidebar_link);
                        }
                    }
                }

            };
            load_sidebar_pos();
            function set_theme_link() {
                var obj = document.getElementById("theme");
                obj.text = ( (localStorage.getItem("theme") == 'dark') ? "Day" : "Night") + " Theme";
            }
            set_theme_link();
            if(localStorage.getItem("theme")) {
                document.body.className = (localStorage.getItem("theme") == 'dark') ? "dark" : "light";
            } else if(window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.body.className = "dark";
                var obj = document.getElementById("theme");
                obj.text = "Day Theme";
            } else {
                document.body.className = "light";
            }
            function show_notice() { document.getElementById("notice").classList.remove('hidden'); };
            function hide_notice() { document.getElementById("notice").classList.add('hidden'); };
            if(document.getElementById("toc")){
                var obj = document.getElementById("toc");
                obj.ontouchstart = function (e) { return true; };
                obj.onhover = function (e) { return true; };
                obj.onclick = function (e) {
                    document.getElementById("toc").style.transform = "translateX(100%)";
                    setTimeout(function(){
                    document.getElementById("toc").style.transform = "";
                    }, 300)
                    return true;
                };
            }
