//media only screen and (max-device-width : 768px)

@media only screen and (max-width : 768px) {

body
{
  font-size: 1.1em;
    &:after
    {
        content: ' ';
        display: block;
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 6em;
        z-index: 90;
        background-color: rgba(240, 240, 240, 0.88);
        filter: blur(10px);
        -webkit-filter: blur(10px);
        pointer-events: none;
    }
}

code, pre
{
    // overflow: scroll !important;
    // word-wrap: break-word;
    // pointer-events: none;
    -webkit-overflow-scrolling: touch;
}
#output
{
    pointer-events: none;
}
#md_container
{
    padding: 7em 0.5em;
    display: inline-block;
    margin-left: 0;
    width: 100%;
}
.toc
{
    &:after
    {
        content: 'TOC';
        width:3em;
        top: 0;
    }
    // padding-top: 3em;
    top: 6em;
    height: 75%;
    right: 0;
}
#logo
{
    top:0.2em;
    left: 4em;
    height: 4em;
    @include border-radius;
    // background-color: rgb(240,240,240);
    // background-color: rgba(240, 240, 240, 0.64);
}
#sign
{
    position:fixed;
    right: 0.5em; bottom:0.5em;
    z-index:250;
}

// // burger Styles (requires JavaScript)
input.burger {
  display: block;
  width:0em; height: 0em;
  position: absolute;
  transform: translate(-999999px)
}

input.burger+svg+nav,
input.burger+nav {
  transform: translateX(100%);
}
input.burger.left+svg+nav,
input.burger.left+nav {
  transform: translateX(-100%);
}
input.burger:checked+svg+nav,
input.burger:checked+nav {
  transform: translateX(0);
}
input.burger+svg {
  width:2.5em; height: 2.5em;
  display: block;
  border-radius: 10%;
  position: absolute;
  z-index: 999;
}
input.burger+svg .line1,
input.burger+svg .line2,
input.burger+svg .line3,
input.burger+svg .line4 {
  transition: 0.25s;
  stroke: rgb(120,120,255);
  stroke-width: 20%;
  stroke-linecap: round;
  transform-origin: center center;
}
// input.burger+svg:hover .line2 {
//   transform-origin: right center;
//   transform: translate(0, 50%) rotate(30deg) scale(1);
// }
// input.burger+svg:hover .line3 {
//   transform-origin: right center;
//   transform: translate(0, -50%) rotate(-30deg) scale(1);
// }
// input.burger.left+svg:hover .line2 {
//   transform-origin: left center;
//   transform: translate(0, 50%) rotate(-30deg) scale(1);
// }
// input.burger.left+svg:hover .line3 {
//   transform-origin: left center;
//   transform: translate(0,-50%) rotate(30deg) scale(1);
// }
input.burger:checked+svg .line1 {
  stroke: rgb(200,60,60);
  transform-origin: 5% 35%;
  transform: translate(-3%, 0%) rotate(45deg) scale(1);
}
input.burger:checked+svg .line2,
input.burger:checked+svg .line3,
input.burger.left:checked+svg .line2,
input.burger.left:checked+svg .line3, {
  stroke: rgb(200,60,60);
  transform-origin: 50% 50%;
  transform: translate(0%, 0%) rotate(-45deg) scale(0.1);
}
input.burger:checked+svg .line4 {
  stroke: rgb(200,60,60);
  transform-origin: 5% 70%;
  transform: translate(-1.5%, -3%) rotate(-45deg) scale(1);
}
input.burger+svg:hover .line1,
input.burger+svg:hover .line2,
input.burger+svg:hover .line3,
input.burger+svg:hover .line4 {
  stroke: rgb(90,90,255);
}

#show_sidebar+svg
{
    top: 1em; right:0.4em;
}
#show_nav+svg
{
    top: 1em; left:0.4em;
}

#ruby_lang
{
    transform: translateX(200px);
}
#side_bar
{
    display: block;
    width: 100%; height: 100%;
    padding-top: 4em;
    padding-bottom: 1em;
    z-index: 400;
    position: fixed;
    top:0; left:0;
    background-color: rgb(240,240,240);
    background-color: rgba(240, 240, 240, 0.9);
    transition: transform 0.3s ease, opacity 0.3s ease;
    -webkit-transition: transform 0.3s ease, opacity 0.3s ease;
    -moz-transition: transform 0.3s ease, opacity 0.3s ease;
    -o-transition: transform 0.3s ease, opacity 0.3s ease;
}
#top_nav
{
    display: block;
    position: fixed;
    z-index: 500;
    width: 100%;
    height: auto;
    padding: 1em;
    padding-top: 4em;
    margin: 0;
    padding-bottom: 5em;
    background-color: rgb(240,240,240);
    background-color: rgba(240, 240, 240, 0.9);
    transition: transform 0.3s ease, opacity 0.3s ease;
    -webkit-transition: transform 0.3s ease, opacity 0.3s ease;
    -moz-transition: transform 0.3s ease, opacity 0.3s ease;
    -o-transition: transform 0.3s ease, opacity 0.3s ease;
    ul
    {
        padding: 0;
        box-sizing: border-box;
    }
    li
    {
        display: block;
        width: 100%;
        box-sizing: border-box;
        a
        {
            display: block;
            width: 100%;
            margin: 0.5em 0;
            min-width: initial;
            padding: 1em 1em;
            text-align:center;
            box-sizing: border-box;
        }
    }

}



//Demo code
#tagline
{
    margin-top: 7em;
    font-size: 1.1em;
}

// Dark Theme
body.dark
{
    &:after
    {
        background-color: rgba(32, 32, 32, 0.88);
    }
    // #logo
    // {
    //     background-color: transparent;
    // }

    #top_nav, #side_bar
    {
        background-color: rgb(32,32,32);
        background-color: rgba(32, 32, 32, 0.9);
    }
}

}
