---
---

html, body {
	width: 100%;
	font: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	box-sizing: border-box;
	background-color: #111;
	color: #fdd;
	padding: 0;
	margin: 0;
	transition: background 120ms;
}


a {
    color: #faa;
    text-decoration: none
}

p {
	    padding: 0; margin: 0;
}
strong {
    color: #fee;
    font-weight: 700
}

h1, h2, h3 {
	margin: 0.5em 0;
	width: auto;
	padding: 0 20px;
}
h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.1em;
}

ul, ol {
	margin: 0;
}

header, section, footer {margin-left: 10%; margin-right: 10%; width: 80%;}

header {
	box-sizing: border-box;
  border-radius: 0 1em 1em 0 0;
	height:  auto;
	border-bottom: #966 solid 1px;
	padding: 1em;
	background: #544;	
	background: linear-gradient(#533, #733);
	position: abso;
	top: 0;
	z-index: 1001;
	transition: background 120ms;
}


header h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    line-height: 1.2;
    color: #ddf;
    text-shadow: rgba(228, 96, 228, 0.75) -3px 3px 5px;
		position: relative;
}

header .view {
	position: fixed;
	display:  block;
	top: 0.9em;
	right: 11%;
	width: 6em;
	font-size: 0.8em;
	z-index: 1003;
}

header .view , header li a {
	padding: 0.5em;
	text-align: center;
	background: #533;	
	color: #dde;
	box-sizing: border-box;
  border-radius: 1em;
	border: #966 solid 0.2em;
	transition: background-color 120ms, border 120ms, opacity 120ms;
	opacity: 0.8;
	width: 6em;
}

header .view:hover, header li a:hover{
	background: #422;	
	border: #966 solid 0.2em;
	opacity: 1;
}
header .view:active, header li a:active {
	background: #855;	
	border: #a66 solid 0.2em;
	opacity: 1;
}

header .view strong {
	font-size: 1.2em;
    color: #ddf;
}

header .view2 {
	display: none;
}

header ul {
	box-sizing: border-box;
	display: inline-block;
	width: 10.2em;
	max-height: 2.6em;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	vertical-align: top;
	transition: max-height 120ms;
}

header ul:hover {
	max-height: 300em;
}

header > ul {
	display: inline-block;
	width: auto;
	max-height: 1em;
	margin-left: 12em;
	position: fixed;
	top: 1.2em;
	overflow: visible;
}

header li {
	box-sizing: border-box;
	display: inline-block;
	// position: relative;
	margin: 0;
	padding: 0;
	width:  10em;
	vertical-align: top;
}

header li a {
	box-sizing: border-box;
	display: block;
	height: 2.4em;
	width:  10em;
	margin: 0.1em 0.2em;
}


header, header > ul, header .view {
	position: absolute;
}

 section {
	box-sizing: border-box;
	height:  auto;
	padding: 5em 0em 2em 0em;
	background: #333;	
	box-sizing: border-box;
	transition: background 120ms;
}

section h1, section h2, section h3 {
	background-color: #444;
	padding: 0.5em 20px;
	box-sizing: border-box;
}
/* section h1:after, section h2:after, section h3:after {
	content: '';
	display: block;
	width: 40%;
	border-bottom: #eee solid 1px;
	box-sizing: border-box;
}
 */
section p {
  padding: 1em; margin: 0;
	box-sizing: border-box;
}
pre { padding:  1em; }


h2 code , h3 code { font-size:1.1em; padding: 0 0.5em; } 

footer {
	background-color: #444;
	padding: 0.5em 20px;
	font-size: 0.8em;
	text-align: center;
	box-sizing: border-box;
}

.section-nav {
	box-sizing: border-box;
	display: block;
	background: #422;	
	border: #966 solid 0.2em;
	opacity: 0.8;
	border-radius: 1em;
	position: fixed;
	right: 10%;
	overflow: visible;
	height: 2em;
	opacity: 0.8;
	z-index: 1002;
	transform: translateX(9999px);
}

.section-nav:hover {
	height: auto;
	max-height: 75%;
	overflow: auto;
}

.section-nav:before {
	content: "Table of Contents";
	display: block;
	position: fixed;
	right: 0.5em;
	border-radius: 1em;
	background: #422;	
	border: #966 solid 0.2em;
	opacity: 0.8;
	transition: opacity 120ms;
	transform: translateX(-9999px);
	padding: 0.5em;
}

.section-nav, .section-nav li, .section-nav ul , .section-nav ol {
	list-style: none;
	padding: 0 1em;
	margin: 0;
}

.section-nav > li {
	transition: transform 120ms;
	transform-origin: 0 0;
	transform: rotateX(90deg);
}

.section-nav:hover {
	transform: translateX(0);
}
.section-nav:hover:before {
	transform: translateX(0);
}

.section-nav:hover > li {
	transform: rotateX(0deg);
}

.section-nav:hover:before {
	opacity: 0;
}

.section-nav a{
	padding: 0.3em 0;
	display: block;
	width: 100%;	
}

.section-nav a:hover{
	background-color: #644;
}

.section-nav > a , .section-nav ul > a {
	display: none;
}

body.light {
	background-color: #eee;
	color: #111;
}

body.light strong {
    color: #211;
}


body.light header {
	background-color: #dcc;
	background: linear-gradient(#cbb, #cdbbbb);
}

body.light header h1 {
    color: #a00;
    text-shadow: rgba(128, 64, 64, 0.6) -5px 5px 5px;
}

body.light header .view , body.light header li a {
	background: #fee;	
	color: #400;
	border: #966 solid 0.2em;
}

body.light header .view strong {
	 color: #600;
}

body.light section{
	background-color: #ddd;	
}
body.light section h1, body.light h2, body.light h3, {
		background-color: #ccc;	
}

body.light a{ color: #a00;  }

body.light footer { background-color: #ccc;  }

body.light .section-nav:before {
	background: #fee;	
	color:  #400;
	border: #966 solid 0.2em;
}

body.light .section-nav {
	background: #fee;	
	color:  #400;
	border: #966 solid 0.2em;
}

body.light .section-nav a:hover{
	background-color: #fdd;
}


#burger { display: none; }

@media screen and (max-width: 1048px) {
  body { padding: 0; }
  header, section, footer {margin-left: 0; margin-right: 0; width: 100%;}
  header { position: absolute; }
	header .view { right: 0.5em; position: absolute; }
	header ul { width: 100%; height: auto; padding: 0; margin: 0; max-height:none;}
	header > ul { position: absolute;  max-height: 300em; width: 100%; height: auto; display: inline;}
	header > ul:hover { position: absolute;  max-height: 300em; width: auto; display: inline;}
	header li { padding: 0; margin: 0; display: block;}
	// header > ul > li { border-top: 2px #a88 solid; height:auto;}
	.section-nav {display: none;}
	header .view { display: none; }
	header .view2 { display: block; }

  #burger {
    display: block;
    position: absolute;
    font-size: 1.4em;
    top: 0.2em;
    right: 2em;
    overflow: visible;
    transform: translateX(-999999px);
    z-index: 900; }
    #burger:after {
      transform: translateX(999999px);
      content: " ";
      font-size: 1em;
      display: block;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      width: 2em;
      height: 2em;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 1em;
      background-color: rgba(192, 192, 192, 0);
      background-image: url(/assets/menu.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
      -webkit-transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
      -moz-transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
      -o-transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease; }
    #burger:checked:after {
      transform: translateX(999999px) rotate(90deg);
      background-color: rgba(192, 192, 192, 0.4); }

  #burger + ul {
    padding: 0;
    opacity: 0;
    overflow-y: visible;
    height: auto;
    transform-origin: top;
    transform: scaleY(0);
    transition: opacity 0.4s, transform 0.3s;
    width: 100%;
    margin: 0;
    padding: 0;
      left: 0;
      top: 4em;
    box-sizing: border-box; }
    #burger + ul li {
      display: block;
      width: 100%;
      margin: 0;
      box-sizing: border-box;
	    height:auto; }
    #burger + ul ul {
      height: auto;
      margin: 0.2em 0; }
      #burger + ul ul li a {
        opacity: 1;
        margin: 0;
        }
        #burger + ul ul:first-child li:first-child a {
          opacity: 0.8; }
        #burger + ul ul:last-child a { }
    #burger + ul a {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      vertical-align: middle;
    }
     #burger + ul li{
      width: 100%;
      height: auto;
      margin: 2px 0;
      box-sizing: border-box;
      vertical-align: middle;
    }

  #burger:checked + ul {
    opacity: 1;
    transform: scaleY(1); } 
}

:target:before {
	content: " ";
	display:block;
	position: relative;
	top: -4em;
	height: 0;
	overflow: visible;
	z-index: -10;
  box-sizing: border-box;
}

.anchor {
	display:block;
	position: relative;
	top: -6em;
	height: 0px;
	overflow: visible;
	z-index: -10;
	vertical-align: top;
}

