---
---

@page {
	margin: 15mm;
}
html, body {
	font: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin: 0;
    // margin-top: 15mm;
    // margin-bottom: 15mm;
}


a {
    color: #600;
    text-decoration: none
}

p {
	    padding:0; margin: 0;
}
strong {
    color: #fef;
    font-weight: 700
}

h1, h2, h3 {
	margin: 0.5em 0;
	width: auto;
	padding: 0;
}
h1 {
	font-size: 1.3em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.1em;
}

header, section, footer {margin-left: 4em; margin-right: 4em; width: auto;}

header {
	box-sizing: border-box;
  border-radius: 0 1em 1em 0 0;
	height:  auto;
	border-bottom: #966 solid 1px;
	padding: 0;
	top: 0;
	z-index: 1001;
}


header h1 {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    line-height: 1;
		position: relative;
}

header .view {
	display:none;
}

section {
	box-sizing: border-box;
	height:  auto;
	padding: 0em;
	box-sizing: border-box;
}

section h1, section h2, section h3 {
	padding: 0.5em 0px;
	box-sizing: border-box;
	text-decoration: underline;
}
/* section h1:after, section h2:after, section h3:after {
	content: '';
	display: block;
	width: 40%;
	border-bottom: #eee solid 1px;
	box-sizing: border-box;
}
 */
section p {
  padding: 0.4em 0; margin: 0 0;
  line-height: 1.2;
	box-sizing: border-box;
}
pre { padding:  0.3em; border-top: #333 solid 1px; border-bottom: #333 solid 1px; font-size: 0.9em;}


h2 code , h3 code { font-size:1.1em; padding: 0 0.5em; } 

footer {
	border-top: #333 solid 1px;
	padding: 0.5em 0px;
	font-size: 0.8em;
	text-align: center;
	box-sizing: border-box;
}
.section-nav {
	display:none;
}
