pre {
  position: relative;
  background-color: #232323;
  margin-bottom: 40px;
  overflow-x: scroll;
  font-size: 13px;
  color: #E6E1DC;
  border: none;
  line-height: 1.9em;
}
pre code {
  word-wrap: normal;
  white-space: pre;
  overflow-x: auto;
}
pre .gd {
  color: #E6E1DC;
  background-color: #660000;
}
pre .gi {
  color: #E6E1DC;
  background-color: #144212;
}
pre .c, pre .c1, pre .c2 {
  color: #BC9458;
  font-style: italic;
}
pre .s1, pre .s2, pre .s, pre .sr {
  color: #A5C261;
}
pre .nv {
  color: #D0D0FF;
}
pre .k, pre .o, pre .kp {
  color: #CC7833;
}
pre .mi {
  color: #A5C261;
}
pre .ss {
  color: #6E9CBE;
}
pre .si {
  color: #519F50;
}
pre .vi {
  color: #D0D0FF;
}
pre .p {
  color: #CC7833;
}
pre .m {
  color: #A5C261;
}
pre .nb {
  color: #A5C261;
}
pre .mh {
  color: #D0D0FF;
}
pre .nl {
  color: #6E9CBE;
}
pre .nt, pre .nc, pre .na {
  color: #FFC66D;
}
pre .cp {
  color: transparent;
  visibility: hidden;
}
