---
---

@import "{{ site.theme }}";

.wrapper { width: auto; margin: 0 15%;}

h2 code , h3 code { font-size:1.1em; padding: 0 0.5em; } 

@media print, screen and (max-width: 740px) {
  body { padding: 0; }
  .wrapper { border-radius: 0; box-shadow: none; width: 100%; margin: 0;}
}
